.login-container {
    margin: 130px auto;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 5px black solid;
    text-align: center;
    background-color: white;
}

.login-container button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}

.login-container button:hover {
    background-color: gray;
    cursor: pointer;
}

.login-container a {
    text-decoration: none;
    color: black;
}

.login-container a:hover {
    text-decoration: underline;
}


