.register-container {
    margin: 65px auto;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    border: 5px black solid;
    background-color: white;
}

.register-container h2{
    text-align: center;
}

.register-container button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}

.register-container button:hover {
    background-color: gray;
    cursor: pointer;
}