{% extends 'base.html' %}

{% load static %}

{% block title %}Enter New Password{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}

    <div class="password_reset-container">
        <h2>Reset Your Password</h2>
        
        {% if validlink %}
            <p>Enter your new password below:</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change Password</button>
            </form>
        {% else %}
            <p>The password reset link is invalid or has expired.</p>
        {% endif %}
    </div>

{% endblock %}