{% extends 'base.html' %}

{% load static %}

{% block title %}Password Reset{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}

    <div class="password_reset-container">
        <h1>Forgot Password?</h1>
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form.email.label_tag }}
            {{ form.email }}
            <button type="submit">Confirm</button>
        </form>
    </div>

{% endblock %}